# Sanity CMS Configuration
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_TOKEN=

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

# Google Services
NEXT_PUBLIC_GOOGLE_CALENDAR_SRC=

# Stripe Configuration
NEXT_PUBLIC_STRIPE_DONATE_URL=

# reCAPTCHA Configuration
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Next.js Revalidation
REVALIDATE_SECRET=
